@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

$primary-color: #502611;
$secondary-color: #4F5B4D;
$secondary-color-medium: #B5B8B4;
$secondary-color-lighter: #CACDC9;
$background-color: #C5BFB7;
$background-color-lighter: #DBD5CC;
$dark-color: #14120E;
$white-color: #fff;
$almost-white-color: #eee;
$yellow: #FFF7CC;
$main-font: 'Montserrat', sans-serif;